<h1><%= @room.name %></h1>
<% if @room.started %>
  <h3>Sorry, this game has already started and you can no longer join</h3>
<% else %>
  <h2>Join this game:</h2>

  <%= simple_form_for [@room, @player] do |f| %>
    <%= f.input :nickname %>
    <%= f.submit "Join game!" %>
  <% end %>

<% end %>
