<div data-controller="game">
  <div class="d-flex justify-content-between">
    <div>
      <h3>Players</h3>
      <ul>
        <% @players.each do |player| %>
          <li>
            <%= player.nickname %> <%= "(You)" if player == @current_player %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="card-container">
      <%= render partial: "cards/card", locals: { room: @room, card: @room.card } %>
    </div>
  </div>
</div>
