<div>
  <h1>Waiting for players...</h1>

  <p>Players that have joined: </p>
  <ul class="players">
    <% @players.each do |player| %>
      <li>
        <%= player.nickname %>
      </li>
    <% end %>
  </ul>

  <% if @current_player == @room.host %>
    <button class="btn btn-primary">Start Game</button>
    <p>Once you start the game, no new players will be able to join</p>
  <% end %>
</div>
