.main-btn {
  background-color: $base-red;
  padding: 5px 10px;
  color: $base-grey;
  border-radius: 5px;
  border: none;

  transition: background-color 0.3s ease;
  &:hover {
    color: $base-grey;
    text-decoration: none;
  }
}

.main-btn:hover {
  background-color: $hover-red;
}

.btn-lg {
  font-size: 24px;
}
